html { margin-left: calc(100vw - 100%); } 
h1{
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  margin-top:150px;
  font-family: 'Playfair Display', serif;
}
.search{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:70px;
  margin-bottom: 80px;
}

.search > div {
  position: relative;
}

.search p{
  color: #bbb;
  font-size:12px;
}

.search input{
  font-size:24px;
  padding:10px 20px 10px 40px;
  width:  700px;
  border:1px solid #bbb;
  box-sizing: border-box;
}

.search .search-icon {
  position: absolute;
  left: 10px;
  top: 13px;
  max-width: 25px;
}

.search input::placeholder{
  color:#ccc;
  font-weight: 300;
}

.search button{
  font-size:24px;
  font-weight: 300;
  padding:10px 20px;
  margin-left:10px;
  border:1px solid #bbb;
}

.search-result{
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 1fr;
  column-gap: 5px;
  row-gap: 1px;
  max-width: 1600px;
  width: 100%;
}

.search-result img{
  width:100%;
  height: 353px;
  object-fit: cover;
}
.is-loading,
.no-results {
  grid-template-columns: repeat(1,1fr);
}

.is-loading .loader,
.no-results .no-results-found {
  text-align: center;
  color: red;
  font-size: 20px;
}

.is-loading .loader {
  color: gray;
}